<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>watchdogssignup.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1451</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1471</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1508</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2111</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2128</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2131</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2148</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2166</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2177</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2195</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2214</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2215</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2222</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2234</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2242</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2250</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2262</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2282</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2309</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2329</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2351</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2364</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2365</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2388</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2441</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2461</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2513</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2642</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2662</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2688</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2708</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2715</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2735</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2742</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2765</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2844</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2864</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2897</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2898</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2917</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2918</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3053</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3073</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3119</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3191</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3193</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3278</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3298</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3696</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3716</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3762</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3853</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
